h1 {
    color: red;
    text-align: center;
}
.highlight {
    font-size: 20px;
    font-style: oblique;
    background-color: yellow;
    opacity: 0.6;
}
a:link, a:visited {
    text-decoration: none;
    background-color: cyan;
    border: 1px solid: black;
    color: black;
    text-align: center;
    margin-bottom: 1px;
}
a:hover, a:active {
    background-color: yellow;
    color: black;
}
header li {
    list-style: none;
}